<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Recommendation</title>
  </head>
  <body>
    <h1>Welcome to the Game Recommendation Site</h1>
    <% if (user) { %>
    <p>Hello, <%= user.username %>!</p>
    <a href="/auth/sign-out">Sign Out</a>
    <a href="/games">View Games</a>
    <a href="/games/new">Add New Game</a>
    <% } else { %>
    <a href="/auth/sign-up">Sign Up</a>
    <a href="/auth/sign-in">Sign In</a>
    <% } %>
  </body>
</html>
